body{
	margin: 0px;
	background-color: rgb(214, 118, 31);
}

#tickets_field{
	height: 800px;
	width: 70%;
        float: left;
	margin-left: 0px;
	text-align: left;
	background-color: rgb(240, 178, 122);
}

#actions_field{
	height: 800px;
	width: 29%;
        float: left;
	border-style: none none none solid;
	border-width: 2px;
	border-color: black;
	padding-left: 0px;
}

.ticket {
    font-family: "Courier New";
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    position: relative;
}
.btn_container {
    padding: 10px;
}
#container{
	display: flex;
	flex: nowrap;
	flex-direction: row;
	
}

.btn_container{
	display: flex;
	flex: nowrap;
	flex-direction: column;
	padding: 20px;
        border: 5px solid white;
}

.btn_container input[type=submit]{
	font-family: helvetica;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 80%;
}

.btn_container input[type=submit]:hover{
	background-color:  rgb(240, 178, 122);
}
.btn_container input[type=submit]:active{
	background-color:  rgb(210, 178, 122);
}

#subtext{
	font-family: helvetica;
	font-size: 25px;
	font-weight: bold;
        padding: 10px;
}
#logo_text{
	font-family: helvetica;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 15px;
	padding-left: 20px;

}

#logo_space{
	border-style: none none solid none;
	border-width: 2px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#passive_text{
	padding: 70px 0;
    text-align: center;
	font-family: helvetica;
	font-size: 15px;
}

.font{
	font-family: helvetica;
	font-size: 20px;
        padding: 10px;
}

.navbar{
	display: flex;
	flex: nowrap;
	flex-direction: row;
	justify-content: space-between;
}

#abtme{
	margin-bottom: 10px;
	padding-right: 20px;
}

.checkbox {
    position: absolute;
    top:10px;
}

.overlay{
    background-color: lightgray;
    position: absolute;
    right:10px;
    top: 10px;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.ticket input[type=checkbox]{
    display: none;
}

.ticket input[type=checkbox]:checked + .overlay{
    background-color: black;
}
