#welcome{
	font-weight: bold;
	color: white;
	text-align: center;
}
.flex-menu {
	display: flex;
	background-color: white;
	justify-content: space-between;
	align-items: center;
	float: top;
	height: 30px;
}
.flex-menu > div {
	text-align: center;
	color: white;
	background-color: orange;
	font-size: 25px;
	flex-grow: 1;
	padding: 10px;
	border: 2px solid white;
	width: 25%;
	transition: transform .2s;
}
.flex-menu > div:hover {
	background-color: red;
	color: white;
	transform: scale(1.05);
	cursor: pointer;
}
.flex-container {
  display: flex;
	flex-flow: row wrap;
}
.flex-container > div {
  background-color: #4f0000;
  color: white;
  width: 23%;
  margin: 10px;
  text-align: center;
  line-height: 100px;
	border-radius: 5%;
	transition: transform .2s;
}
.flex-container > div:hover {
	background-color: black;
	transform: scale(1.05);
	cursor: pointer;
}
.menu-item-name {
	font-size: 150%;
	text-align: center;
	margin: -5% 0% -5% 5%; /* Top, right, bottom, left */
}
.menu-item-desc {
	font-size: 120%;
	text-align: left;
	line-height: 20px;
	margin: -7% 5% 5% 5%;
}
#center-button {
	background-image: linear-gradient(red, orange);
	color: white;
	font-weight: bold;
	font-size: 35px;
}
.about-text-container {
	color: white;
	width: 50%;
	float: left;
	font-weight: bold;
}
.about-text-box {
	margin-right: 2%;
	margin-bottom: 1%;
	background-color: #ed8600;
	border-radius: 25px;
	padding: 2%;
}
.about-text-box p {
	font-size: 17px;
}
.embedded-google-map {
	width: 48%;
	float: left;
}
.embedded-google-map iframe {
  width: 100%;
	border-radius: 25px;
}
.clearfix {
  clear:both
}
.contact-left-text-box {
	color: white;
	width: 48%;
  float: left;
}
.text-field {
	font-weight: bold;
}
.submit-button {
	text-align: left;
}
#name, #phone, #email {
	width: 80%;
	font-weight: bold;
	font-size: 25px;
	border-color: white;
	border-radius: 4px;
}
#description {
	height: 260px;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
}
input[type=submit] {
  background-image: linear-gradient(red, orange);
  color: white;
	height: 100px;
	width: 40%;
	text-align: center;
	border-color: white;
	padding: 10px 20px;
	font-weight: bold;
  border-radius: 4px;
	font-size: 200%;
  cursor: pointer;
}
